<!-- <div id="header"> -->
  <div style="text-align: center;">
  <h1><b>Book My Bus</b></h1>
</div>



<div class="topnav">
  <!--  -->
  <ul>
    <li><a routerLink="aboutus">About US</a></li>
    <li><a routerLink="signup">SignIn</a></li>
    <li><a routerLink="userlogin">LogIn</a></li>
    <li><a routerLink="book">Book Ticket</a></li>
    <li><a routerLink="cancel">Cancel Ticket</a></li>
    <li><a routerLink="admin">Admin</a></li>
  </ul>
    <img class="logo-img" src="https://image.shutterstock.com/image-illustration/travel-bus-illustration-logo-on-260nw-641091298.jpg" width="130px" height="100px" style="padding-right: 10px;" ALT="align box" ALIGN=CENTER>
    <!-- <img class="logo-img" style=" background-image: url('assets/busimage.png');" width="130px" height="100px" style="padding-right: 10px;" ALT="align box" ALIGN=CENTER> -->


 


</div>
  <div id="main" class="body bg-img" style=" background-image: url('bus1.jpg');">

  <div>

  <router-outlet></router-outlet>
</div>



<div class="allButFooter">
  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h5 class="widget-title"><span></span></h5>
              <p>
              </p>
            </div>
          </div>





          <div class="col-xs-12 col-sm-6 col-md-3" style="float: right; ">

            <div class="widget no-box">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Larsen & Toubro Infotech Limited © 2021. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div> -->

  </footer>
</div>